/* font-family: 'Gruppo', cursive;
font-family: 'Gudea', sans-serif;
font-family: 'Open Sans', sans-serif; */
h1 {
  font-family: "Gudea", sans-serif;
  font-size: 140px;
  color: #080708;
}
h2 {
  font-family: "Gruppo", cursive;
  font-size: 96px;
  color: #080708;
}

h3 {
  font-family: "Gruppo", cursive;
  font-size: 48px;
  color: #ffffff;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight:100;
  letter-spacing: 0.06em;
}

.hello-section {
  height: 1200px;
  background: linear-gradient(270deg, #acc9ce 0.5%, #cccbaf 100%);
}
.hello-title {
  padding: 20% 30% 0% 10%;
}
.welcome-text {
  padding-left: 10%;
  color: #080708;
}

.about-section {
  background-color: #262626;
  color: #ffffff;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.about-section::before {
    content: "";
    background-color: #262626;
    display: block;
    -webkit-clip-path: polygon(100% 81%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 81%, 0% 100%, 100% 100%);
    position: absolute;
    top: -60px;
    right: 50%;
    width: 100vw;
    height: 100px;
}
.about-title {
  color: #ffffff;
  margin-bottom: 50px;
}
.about-paragraph {
  width: 633px;
  text-align: justify;
}
